<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title | default: "Next Thing Co. Docs" }}</title>

  {% block javascripts -%}
  <script src="/javascripts/all.js"></script>
  {%- endblock %}

  {% block stylesheets -%}
  <link rel="stylesheet" href="/stylesheets/highlight.css">
  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/ntc_override.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/print.css" media="print">
  {%- endblock %}

  {% block preloads -%}
  <link rel="preload" href="/javascripts/all.js" as="script">
  <link rel="preload" href="/stylesheets/highlight.css" as="style">
  <link rel="preload" href="/stylesheets/screen.css" as="style">
  <link rel="preload" href="/stylesheets/ntc_override.css" as="style">
  {%- endblock %}

  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>

  {% block content %}{{ content }}{% endblock %}

</body>
</html>
