{% layout "base.liquid" %}

{%- block content -%}
  <a href="#" id="nav-button">
    <span>
      NAVI
      <img src="/images/navbar.png" alt="">
    </span>
  </a>

  <div class="tocify-wrapper">
    <div class="nav-bar-logo">
      <a href="/"><img src="/images/ntclogo_doccorner.png" alt="Next Thing Co."></a>
    </div>

    <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
    </div>

    <ul class="search-results"></ul>

    <div id="toc"></div>

    <ul class="toc-footer">
      <li>Have something to add or change? <br> Email us at docs@nextthing.co.</li>
    </ul>
  </div>

  <div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">
      {{ content }}
    </div>
    <div class="dark-box"></div>
  </div>
{%- endblock -%}
