<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/public/icon-16.png">
  <link rel="stylesheet" href="/stylesheets/highlight.css">
  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/ntc_override.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/print.css" media="print">

  <script src="/javascripts/all.js"></script>
</head>
<body class="index" data-languages="[]">
  <a href="#" id="nav-button">
    <span>
      NAVI
      <img src="/images/navbar.png" alt="Navbar">
    </span>
  </a>

  <div class="tocify-wrapper">
    <div class="nav-bar-logo">
      <a href="index.html"><img src="/images/ntclogo_doccorner.png" alt="Ntclogo doccorner"></a>
    </div>

    <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
    </div>

    <ul class="search-results"></ul>

    <div id="toc"></div>

    <ul class="toc-footer">
      <li>Have something to add or change? <br> Email us at docs@nextthing.co.</li>
    </ul>
  </div>
  <div class="page-wrapper">
    <div class="dark-box"></div>

    <div class="content">
      {{ content | safe }}
    </div>

    <div class="dark-box"></div>
  </div>
</body>
</html>
