@mixin media($bp) {
  @if $bp == xs {
    @media (width >= 480px) { @content; }
  } @else if $bp == sm {
    @media (width >= 768px) { @content; }
  } @else if $bp == md {
    @media (width >= 992px) { @content; }
  } @else if $bp == lg {
    @media (width >= 1200px) { @content; }
  } @else {
    @warn "Not a supported value";
  }
}

$pink: #eb008b;

@font-face {
  font-family: "232MK";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/232MKMedium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "232MK", sans-serif;
  font-size: 16px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

header {
  background: #313232;
  color: #fff;
  display: flex;
  justify-content: center;

  @media (width <= 479px) {
    margin-bottom: 2rem;
    padding: 2rem 15px;
  }

  @include media (xs) {
    margin-bottom: 4rem;
    padding: 4rem 0;
  }

  & div {
    @media (width <= 479px) {
      width: 100%;
    }

    @include media (xs) {
      width: 90%;
    }

    @include media (sm) {
      width: 80%;
    }

    & h1 {
      @media (width <= 479px) {
        font-size: 3.5rem;
      }

      @include media (xs) {
        font-size: 4.5rem;
      }

      color: $pink;
      font-weight: 400;
      margin: 0;
      margin-bottom: 0.5rem;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }

    & p {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}

section.docs {
  display: flex;
  justify-content: center;
  width: 100%;

  & div {
    text-align: center;

    @media (width <= 479px) {
      padding: 0 15px 15px;
      width: 100%;
    }

    @include media (xs) {
      width: 90%;
    }

    @include media (md) {
      width: 80%;
    }

    & div.doc {
      background-color: $pink;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      margin-bottom: 15px;
      padding: 0;

      @media (width <= 297px) {
        height: 198px;
        width: 100%;
      }

      @media (width >= 298px) and (width <= 350px) {
        height: 235px;
        width: 100%;
      }

      @media (width >= 351px) and (width <= 420px) {
        height: 280px;
        width: 100%;
      }

      @media (width >= 421px) and (width <= 479px) {
        height: 308px;
        width: 100%;
      }

      @include media (xs) {
        height: 205px;
        margin: 15px;
        width: 300px;
      }

      &.chip {
        background-image: url("../images/chipDoc.png");
      }

      &.pc {
        background-image: url("../images/pocketChipDoc.png");
      }

      &.dip {
        background-image: url("../images/dipDoc.png");
      }

      &.chip_pro {
        background-image: url("../images/chipProDoc.png");
      }

      &.chip_pro_devkit {
        background-image: url("../images/chipProDevKitDoc.png");
      }

      &.gadget {
        background-image: url("../images/gadgetDoc.png");
      }

      &:hover {
        background-color: darken($pink, 5%);
        cursor: pointer;
      }
    }
  }
}
