{% layout "base.liquid" %}

{%- block javascripts -%}
  <script>
    // Closure-wrapped for security.
    // https://stackoverflow.com/a/21198129
    (function() {
      var hash = window.location.hash.substring(1);

      if (hash) {
        // Best practice for JavaScript redirects.
        // https://stackoverflow.com/a/506004
        window.location.replace(`/chip#${hash}`);
      }
    })();
  </script>
{%- endblock -%}

{%- block stylesheets -%}
  <link rel="stylesheet" href="/stylesheets/main.css">
{%- endblock -%}

{%- block content -%}
  <header>
    <div>
      <h1>Docs</h1>
      <p>Find all the helpful documentation you need to get the most of your Next Thing Co. products with the links below!</p>
    </div>
  </header>

  <section class="docs">
    <div>
      <a href="/chip_pro"><div class="doc chip_pro"></div></a>
      <a href="/chip_pro_devkit"><div class="doc chip_pro_devkit"></div></a>
      <a href="/chip"><div class="doc chip"></div></a>
      <a href="/pocketchip"><div class="doc pc"></div></a>
      <a href="/dip"><div class="doc dip"></div></a>
      <a href="/gadget"><div class="doc gadget"></div></a>
    </div>
  </section>
{%- endblock -%}
